<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vo Vuong Bao Huy</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/templatemo-hexashop.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/font-awesome.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/owl-carousel.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/lightbox.css') }}">
</head>
<body>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="{{ url_for('main') }}" class="logo">
                            <img src="{{ url_for('static',filename = 'images/logo.png') }}">
                        </a>
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{{ url_for('main') }}" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('baohuy') }}">Bảo Huy</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('hao') }}">Thế Hào</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('hai') }}">Thanh Hải</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('duy') }}">Thái Duy</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('duchuy') }}">Đức Huy</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="{{ url_for('index') }}">IOT Products</a></li>
                                    <li><a href="single-product.html">3D Printing</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
        </div>
    </header>

    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Võ Vương Bảo Huy</h2>
                        <span>Uncle Kai &amp; Group 8</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>My Latest Photo</h2>
                        <span>Check out all of my profile.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="{{ url_for('static', filename = 'images/BaoHuy/duy1.jpg') }}"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                            <img src="{{ url_for('static', filename = 'images/BaoHuy/duy1.jpg') }}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Hải vest</h4>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="{{ url_for('static', filename = 'images/hai/hai2.jpg') }}"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                            <img src="{{ url_for('static', filename = 'images/hai/hai2.jpg') }}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Hải chụp hình</h4>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="{{ url_for('static', filename = 'images/hai/hai3.jpg') }}"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                            <img src="{{ url_for('static', filename = 'images/hai/hai3.jpg') }}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Hải Ngồi</h4>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </section>

    <!-- ***** Explore Area Starts ***** -->
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2>Explore My Information</h2>
                        <span>My name is Le Thanh Hai or you can call me Hailu. Before my English name is Luke and I try to combine my Vietnamese name and English name into one name which is Hailuke. However, I think Hailu is shorter than previous name. Therefore, I choose it for my nickname.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>A little more persistence, a little more effort, and what seemed hopeless failure may turn to glorious success.</p>
                        </div>
                        <p>Well, I was born in Vung Tau, a city surrounded by beautiful beaches. My mother and dad were born in the North of Vietnam. Because of that, most of my family members speak a northern accent. I grew up with my parents, they always took care of me and cared about my education. Until now, they still care about me. However, I'm mature enough to exceed my parents' envelopment. I have to stand by my side and have a stepping stone decision in all situations without them.</p>
                        <p>I love doing math and solving several hard exercises. Although it takes me long hours to reach a proper solution, I am still steady and calm down. Albert Einstein said that "Pure mathematics is, in its way, the poetry of logical ideas". I hopefully believe that I can fly high regardless any tough incidents happen in my life</p>
                        <div class="main-border-button">
                            <a href="https://hailu03.github.io/hailu">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="leather">
                                    <img  src="{{ url_for('static', filename = 'images/hai/nen.jpg') }}" alt="" style="height: 250px;">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="first-image">
                                    <img src="{{ url_for('static', filename = 'images/hai/hai4.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="second-image">
                                    <img src="{{ url_for('static', filename = 'images/hai/hai5.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="types">
                                    <img src="{{ url_for('static', filename = 'images/hai/hai6.jpg') }}" alt="" style="height: 340px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="{{ url_for('static',filename = 'images/white-logo.png') }}">
                        </div>
                        <ul>
                            <li><a href="#">Đ. Lê Duẩn, Định Hoà, Thủ Dầu Một, Bình Dương 75000</a></li>
                            <li><a href="#">group8@student.vgu.edu.vn</a></li>
                            <li><a href="#">012-345-6789</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Hailu &amp; Group 8</h4>
                    <ul>
                        <li><a href="{{ url_for('baohuy') }}">Bảo Huy</a></li>
                        <li><a href="{{ url_for('duchuy') }}">Đức Huy</a></li>
                        <li><a href="{{ url_for('hao') }}">Thế Hào</a></li>
                        <li><a href="{{ url_for('duy') }}">Thái Duy</a></li>
                        <li><a href="{{ url_for('hai') }}">Thanh Hải</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">IOT Product</a></li>
                        <li><a href="#">3D Printing</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 Group 8 Co., Ltd. All Rights Reserved.

                        <br>Design: All members in group 8</a></p>
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100014373425372"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/thanh-h%E1%BA%A3i-l%C3%AA-3bb349236/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static',filename = 'js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static',filename = 'js/popper.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/bootstrap.min.js') }}"></script>


    <!-- Plugins -->
   <script src="{{ url_for('static',filename = 'js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/accordions.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/datepicker.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/imgfix.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/slick.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/lightbox.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/isotope.js') }}"></script>>

    <!-- Global Init -->
    <script src="{{ url_for('static',filename = 'js/custom.js') }}"></script>>
</body>
</html>