<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Group 8</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/templatemo-hexashop.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/font-awesome.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/owl-carousel.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/lightbox.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/main.css') }}">

</head>
<body>
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="{{ url_for('main') }}" class="logo">
                            <img src="../static/images/logo.png">
                        </a>
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{{ url_for('main') }}" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('baohuy') }}">Bảo Huy</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('hao') }}">Thế Hào</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('hai') }}">Thanh Hải</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('duy') }}">Thái Duy</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('duchuy') }}">Đức Huy</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="{{ url_for('index') }}">IOT Products</a></li>
                                    <li><a href="single-product.html">3D Printing</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2 style="color: white;">About Our Team</h2>
                        <span style="color: white;">Awesome, Handsome &amp; and quality</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id = "need" class = "container">
        <div class="row">
            <div class="col">
                <a href="{{ url_for('duy')}}"><img style="width: 100%;" src="{{ url_for('static',filename='images/duy/duy1.jpg')}}"></a>
                <a href="{{ url_for('duy')}}"><p class="text-center text-uppercase h4 scroll-to-section">Đinh Thái Duy</p></a>
            </div>
            <div class="col">
                <a href="{{ url_for('hai')}}"><img style="width: 100%" src="{{ url_for('static',filename='images/hai/hai5.jpg')}}"></a>
                <a href="{{ url_for('hai')}}"><p class="scroll-to-section text-center text-uppercase h4">Lê Thanh Hải</p></a>
            </div>
            <div class="col">
                <a href="{{ url_for('hao')}}"><img style="width: 100%" src="{{ url_for('static',filename='images/duy/duy1.jpg')}}"></a>
                <a href="{{ url_for('hao')}}"><p class="text-center text-uppercase h4">Trịnh Thế Hào</p></a>
            </div>
            <div class="col">
                <a href="{{ url_for('baohuy')}}"><img style="width: 100%;" src="{{ url_for('static',filename='images/duy/duy1.jpg')}}"></a>
                <a href="{{ url_for('baohuy')}}"><p class="text-center text-uppercase h4">Võ Vương Bảo Huy</p></a>
            </div>
            <div class="col">
                <a href="{{ url_for('duchuy')}}"><img style="width: 100%" src="{{ url_for('static',filename='images/duy/duy1.jpg')}}"></a>
                <a href="{{ url_for('duchuy')}}"><p class="text-center text-uppercase h4">Lê Đức Huy</p></a>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="../static/images/white-logo.png" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">Đ. Lê Duẩn, Định Hoà, Thủ Dầu Một, Bình Dương 75000</a></li>
                            <li><a href="#">group8@student.vgu.edu.vn</a></li>
                            <li><a href="#">012-345-6789</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Group 8</h4>
                    <ul>
                        <li><a href="{{ url_for('baohuy') }}">Bảo Huy</a></li>
                        <li><a href="{{ url_for('duchuy') }}">Đức Huy</a></li>
                        <li><a href="{{ url_for('hao') }}">Thế Hào</a></li>
                        <li><a href="{{ url_for('duy') }}">Thái Duy</a></li>
                        <li><a href="{{ url_for('hai') }}">Thanh Hải</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">IOT Product</a></li>
                        <li><a href="#">3D Printing</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 Group 8 Co., Ltd. All Rights Reserved. 
                        
                        <br>Design: All members in group 8</a></p>
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100014373425372"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/thanh-h%E1%BA%A3i-l%C3%AA-3bb349236/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static',filename = 'js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static',filename = 'js/popper.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/bootstrap.min.js') }}"></script>


    <!-- Plugins -->
   <script src="{{ url_for('static',filename = 'js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/accordions.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/datepicker.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/imgfix.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/slick.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/lightbox.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/isotope.js') }}"></script>>

    <!-- Global Init -->
    <script src="{{ url_for('static',filename = 'js/custom.js') }}"></script>>

</body>
</html>